@model IEnumerable<BookingApp.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Bokade tider</h1>

<p>
    <a asp-action="Create">Boka ny tid</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApiKeyRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApiKeyRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment.TreatmentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId"class="btn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId"class="btn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>