@model TreatmentApp.Models.Treatment

@{
    ViewData["Title"] = "Radera behandling";
}

<h1>Radera</h1>

<h2>Är du säker att du vill radera?</h2>
<div>
    <h3>Behandling</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeInterval)
        </dt>
       
        <dd class="col-sm-10">
    @if (Model.TimeInterval != null)
    {
        @Model.TimeInterval.TimeIntervalId
    }
</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TreatmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="EditBtn">Back to List</a>
    </form>
</div>
