@model IEnumerable<TreatmentApp.Models.Treatment>

@{
    ViewData["Title"] = "Index";
}

<h1>Behandlingar</h1>

<p>
    <a asp-action="Create">Skapa ny behandling</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
           
                @Html.DisplayNameFor(model => model.TimeInterval)
            </th>
            
            <th>Hantera</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeInterval.TimeIntervalId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TreatmentId" class="btn">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.TreatmentId" class="btn">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.TreatmentId" class="btn">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
